extends ../base
block title
	| feedback
block main
	section.feed-back-section
		.container
			.title-wrap
				p.title__h2 ОТЗЫВЫ &#160
					span О НАС
			.feed-back-body
				.fb-item
					.fb-face-name
						.fb-face
							img(src=require("../../img/customer.jpg"))
						.fb-name
							span КАТЕРИНА ИВАНОВА
					.fb-feedback
							p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
					.fb-source
						a Отзыв из
							span  источник
				.fb-item
					.fb-face-name
						.fb-face
							img(src=require("../../img/customer.jpg"))
						.fb-name
							span КАТЕРИНА ИВАНОВА
					.fb-feedback
						p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
					.fb-source
						a Отзыв из
							span  источник
				.fb-item
					.fb-face-name
						.fb-face
							img(src=require("../../img/customer.jpg"))
						.fb-name
							span КАТЕРИНА ИВАНОВА
					.fb-feedback
						p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
					.fb-source
						a Отзыв из
							span  источник
				.fb-item
					.fb-face-name
						.fb-face
							img(src=require("../../img/customer.jpg"))
						.fb-name
							span КАТЕРИНА ИВАНОВА
					.fb-feedback
						p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
					.fb-source
						a Отзыв из
							span  источник
				.fb-item
					.fb-face-name
						.fb-face
							img(src=require("../../img/customer.jpg"))
						.fb-name
							span КАТЕРИНА ИВАНОВА
					.fb-feedback
						p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать
					.fb-source
						a Отзыв из
							span  источник
				.fb-item
					.fb-face-name
						.fb-face
							img(src=require("../../img/customer.jpg"))
						.fb-name
							span КАТЕРИНА ИВАНОВА
					.fb-feedback
						p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.

					.fb-source
						a Отзыв из
							span  источник