extends ../base
block title
	| Index page
block main
	// второй класс у body это анимация на модалке (animated-transition-effects гуглануть или спросить меня, убрав класс вернётся обычная анимация модалки, без изысков)

		div(off-canvas='id-4 bottom shift')
		//[if IE 9]>
			<script src="libs/html5shiv/es5-shim.min.js"></script>
			<script src="libs/html5shiv/html5shiv.min.js"></script>
			<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>`
			<script src="libs/respond/respond.min.js"></script>
	section.index-page-header
		.container
			.common-header-content
				.logo
					.logo-wrapper
						svg#logo-index(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='148px', height='118px', viewbox='0 0 226 232', style='enable-background:new 0 0 226 232;', xml:space='preserve')
							style(type='text/css').
								.st0 {
									fill: none;
									stroke: #FFFFFF;
									stroke-width: 10;
									stroke-miterlimit: 10;
								}

								.st1 {
									fill: #FDFDFD;
								}

								.st2 {
									fill: #131313;
								}

								.st3 {
									fill: #FFFFFF;
								}
							g#cloud
								path.st0(d='M134.2,38.1c-1.2,0-2.3,0.1-3.7,0.2c-5.8-7.5-15.5-12-25.9-12c-16.6,0-30.4,11.4-31.1,25.5c-0.3,0-0.5,0-0.8,0\
													    c-17.2,0-31.2,12-31.2,26.8c0,6.7,2.9,13.1,8.2,18.1c-1.1,3-1.7,6.1-1.7,9.3c0,16.9,16,30.6,35.6,30.6c5,0,9.9-0.9,14.5-2.7\
													    c6.5,6.7,15.9,10.5,26,10.5c16.7,0,30.9-10.5,33.4-24.7c16.9-1.2,30.1-13.3,30.1-28c0-12.1-8.8-22.7-22.1-26.6c0-0.1,0-0.1,0-0.2\
													    C165.4,50.1,151.4,38.1,134.2,38.1L134.2,38.1z')
							g#botle
								path.st1(d='M154,152.1l-28.8-48.8c-0.8-1.3-1.4-2.3-1.4-5.3V68.1c0-0.8,1.3-0.8,1.3-0.8c1.3,0,2.3-1,2.3-2.3\
													    c0-1.3-1-2.3-2.3-2.3H91.6c-1.3,0-2.3,1-2.3,2.3c0,1.3,1,2.3,2.3,2.3c0,0,1.6,0,1.6,0.8V98c0,2.7-0.7,4-1.4,5.3l-29.1,48.9\
													    c-0.8,1.4-3.1,5.9,3.3,5.9h84.7C157.2,158,154.8,153.5,154,152.1L154,152.1z')
								path.st2(d='M95.1,105.3c1.1-1.9,2-3,2-7.3V68.7c0-0.9,0.4-1.4,1.2-1.4h20.6c0.6,0,0.9,0.5,0.9,1.1V98c0,4,0.9,5.4,2,7.3\
													    l4.8,8.2c0,0,1,1.3-1.3,1.3H91.8c-2.5,0-1.5-1.4-1.5-1.4L95.1,105.3z')
							g#ball_1_BLACK
								path.st2(d='M88.9,152.5c-6,0-10.9-4.9-10.9-10.9c0-6,4.9-10.9,10.9-10.9c6,0,10.9,4.9,10.9,10.9\
													    C99.8,147.6,94.9,152.5,88.9,152.5L88.9,152.5z')
							g#ball_2_blak
								path.st2(d='M106,151.5c-2.3,0-4.2-1.9-4.2-4.2c0-2.3,1.9-4.2,4.2-4.2c2.3,0,4.2,1.9,4.2,4.2\
													    C110.2,149.6,108.3,151.5,106,151.5L106,151.5z')
							g#ball_3_blak
								path.st2(d='M115.1,141.6c-3.7,0-6.7-3-6.7-6.7c0-3.7,3-6.7,6.7-6.7c3.7,0,6.7,3,6.7,6.7\
													    C121.8,138.6,118.8,141.6,115.1,141.6L115.1,141.6z')
							g#ball_4_white
								path.st3(d='M103.3,110.6c-2.7,0-4.9-2.2-4.9-4.9c0-2.7,2.2-4.9,4.9-4.9c2.7,0,4.9,2.2,4.9,4.9\
													    C108.2,108.5,106,110.6,103.3,110.6L103.3,110.6z')
							g#ball_5_wite
								path.st3(d='M110.2,99.7c-1.3,0-2.4-1.1-2.4-2.4c0-1.3,1.1-2.4,2.4-2.4c1.3,0,2.4,1.1,2.4,2.4\
													    C112.6,98.6,111.5,99.7,110.2,99.7L110.2,99.7z')
							g#ball_6_white
								path.st3(d='M102.7,58.6c-1.8,0-3.3-1.5-3.3-3.3c0-1.8,1.5-3.3,3.3-3.3c1.8,0,3.3,1.5,3.3,3.3\
													    C106,57.1,104.5,58.6,102.7,58.6L102.7,58.6z')
							g#ball_7_white
								path.st3(d='M110.2,52.6c-0.9,0-1.7-0.7-1.7-1.7c0-0.9,0.7-1.7,1.7-1.7c0.9,0,1.7,0.7,1.7,1.7\
													    C111.8,51.8,111.1,52.6,110.2,52.6L110.2,52.6z')
							g#ball_8_white
								path.st3(d='M104.9,47.7c-1.2,0-2.3-1-2.3-2.3c0-1.2,1-2.3,2.3-2.3c1.2,0,2.3,1,2.3,2.3C107.2,46.7,106.2,47.7,104.9,47.7\
													    L104.9,47.7z')
							g
								path.st3(d='M36.5,195.2l7-14h5.4l-10,18.7V210h-4.8v-10.4l-9.8-18.4h5.4L36.5,195.2z')
								path.st3(d='M48.7,199.1c0-3.2,0.9-5.8,2.6-7.8c1.8-2,4.2-3.1,7.2-3.1c3.1,0,5.5,1,7.2,3.1c1.8,2,2.6,4.6,2.6,7.8v0.4\
													    c0,3.2-0.9,5.8-2.6,7.9c-1.7,2-4.1,3-7.2,3c-3.1,0-5.5-1-7.2-3c-1.7-2-2.6-4.6-2.6-7.8V199.1z M53.5,199.5c0,2.1,0.4,3.8,1.2,5.1\
													    c0.8,1.3,2.1,2,3.8,2c1.7,0,2.9-0.7,3.8-2c0.8-1.3,1.3-3,1.3-5.1v-0.4c0-2-0.4-3.7-1.3-5c-0.8-1.3-2.1-2-3.8-2\
													    c-1.7,0-2.9,0.7-3.8,2c-0.8,1.3-1.2,3-1.2,5V199.5z')
								path.st3(d='M85.9,206.9c-0.7,1.1-1.5,2-2.5,2.6c-1,0.6-2.2,0.9-3.6,0.9c-2.3,0-4.1-0.7-5.4-2.2s-1.9-3.7-1.9-6.8v-12.8\
													    h4.8v12.8c0,1.9,0.3,3.2,0.9,3.9c0.6,0.8,1.5,1.1,2.7,1.1c1.2,0,2.1-0.2,2.9-0.6c0.8-0.4,1.4-1,1.8-1.8v-15.5h4.8V210h-4.2\
													    L85.9,206.9z')
								path.st3(d='M100.9,199.1V210h-4.8v-28.8h11.2c3.2,0,5.7,0.8,7.5,2.5c1.8,1.6,2.7,3.8,2.7,6.5c0,2.7-0.9,4.9-2.7,6.5\
													    c-1.8,1.6-4.3,2.4-7.5,2.4H100.9z M100.9,195.2h6.4c1.8,0,3.1-0.5,4-1.4c0.9-0.9,1.3-2.2,1.3-3.6c0-1.5-0.4-2.7-1.3-3.7\
													    c-0.9-1-2.2-1.5-4-1.5h-6.4V195.2z')
								path.st3(d='M132.3,192.9l-2.1-0.1c-0.9,0-1.7,0.2-2.3,0.6c-0.6,0.4-1.1,1-1.5,1.7V210h-4.8v-21.4h4.4l0.3,3.1\
													    c0.5-1.1,1.2-1.9,2.1-2.6c0.8-0.6,1.8-0.9,2.9-0.9c0.3,0,0.6,0,0.8,0.1c0.3,0,0.5,0.1,0.7,0.2L132.3,192.9z')
								path.st3(d='M134.7,199.1c0-3.2,0.9-5.8,2.6-7.8c1.8-2,4.2-3.1,7.2-3.1c3.1,0,5.5,1,7.2,3.1c1.8,2,2.6,4.6,2.6,7.8v0.4\
													    c0,3.2-0.9,5.8-2.6,7.9c-1.7,2-4.1,3-7.2,3c-3.1,0-5.5-1-7.2-3c-1.7-2-2.6-4.6-2.6-7.8V199.1z M139.5,199.5c0,2.1,0.4,3.8,1.2,5.1\
													    c0.8,1.3,2.1,2,3.8,2c1.7,0,2.9-0.7,3.8-2c0.8-1.3,1.3-3,1.3-5.1v-0.4c0-2-0.4-3.7-1.3-5c-0.8-1.3-2.1-2-3.8-2\
													    c-1.7,0-2.9,0.7-3.8,2c-0.8,1.3-1.2,3-1.2,5V199.5z')
								path.st3(d='M165.7,195.9l4-7.3h5.5l-6.7,10.6l6.9,10.8h-5.5l-4.1-7.5l-4.1,7.5h-5.5l6.9-10.8l-6.7-10.6h5.5L165.7,195.9z')
								path.st3(d='M185.6,201.4l0.5,2.1h0.1l4.7-14.9h5.3l-8.9,24.6c-0.6,1.5-1.4,2.8-2.4,3.8s-2.5,1.6-4.4,1.6\
													    c-0.4,0-0.8,0-1.3-0.1s-0.9-0.2-1.3-0.3l0.5-3.7c0.2,0,0.4,0,0.7,0.1c0.3,0,0.6,0,0.7,0c0.9,0,1.6-0.3,2.1-0.9s0.9-1.3,1.3-2.1\
													    l0.8-1.9l-7.8-21.1h5.2L185.6,201.4z')
					//.logo-tagline YouProxy
				.main-menu-burger
					.main-menu-burger-strict
					.main-menu-burger-strict
					.main-menu-burger-strict
				.main-menu
					.orange-square
					.main-menu-visible
						ul
							li
								a Купить прокси
							li
								a Условия
							li
								a FAQ
							li
								a Контакты
							li
								a Личный Кабинет
					.main-menu-rouge
						ul.main-menu-dropdown
							li
								a Прокси Россия
							li
								a Прокси Украина
							li
								a Прокси США
							li
								a Прокси Европа
							li
								a Прокси Казахстан
				.online-chat
					a(href='#')
						.red-square
							img(src=require("../../img/dialog.png"))
						span Онлайн чат
			.index-page-description
				.title-wrap
					h1 ПРОДАЖА ПРОКСИ&#160
						span В ОДНИ РУКИ
					p Высококачественные прокси с отменными скоростными показателями и бесперебойностью работы
	section.proxi-list-description
		.container
			.proxi-list
				ul
					li
						a(href='#')
							span Прокси Россия
							|  от 45 руб - 1 шт.
					li
						a(href='#')
							span Прокси Украина
							|  от 49 руб - 1 шт.
					li
						a(href='#')
							span Прокси США
							|  от 95 руб - 1 шт.
					li
						a(href='#')
							span Прокси Европа
							|  от 45 руб - 1 шт.
					li
						a(href='#')
							span Прокси Казахстан
							|  от 145 руб - 1 шт.
			.proxi-description
				.title-wrap
					p.title__h2 НАШИ ПРОКСИ РАБОТАЮТ&#160
						span С ЛЮБЫМ САЙТОМ И ПРОГРАММОЙ
				.proxi-resorses
					.proxi-resorses-item
						a(href='#')
							img(src=require("../../img/key-collector.png"))
					.proxi-resorses-item
						a(href='#')
							img(src=require("../../img/avito.png"))
					.proxi-resorses-item
						a(href='#')
							img(src=require("../../img/instagram.png"))
					.proxi-resorses-item
						a(href='#')
							img(src=require("../../img/odnoclasniki.png"))
					.proxi-resorses-item
						a(href='#')
							img(src=require("../../img/key-collector.png"))
					.proxi-resorses-item
						a(href='#')
							img(src=require("../../img/avito.png"))
					.proxi-resorses-item
						a(href='#')
							img(src=require("../../img/instagram.png"))
					.proxi-resorses-item
						a(href='#')
							img(src=require("../../img/odnoclasniki.png"))
			.all-proxi-objectives
				.select
					.slct_arrow
						i.fa.fa-angle-down
					a(href="#" class="slct all-proxi-objectives-title") ВСЕ ЦЕЛИ ИСПОЛЬЗОВАНИЯ
					ul.drop.all-proxi-objectives-list
						li Прокси Россия
						li Прокси Украина
						li Прокси США
						li Прокси Европа
						li Прокси Казахстан
					input(type="hidden" name="services")

	section.proxi-prorerties
		.container
			.proxi-prorerties-wrap
				.proxi-prorerties-item
					img(src=require("../../img/proxi-face.png"))
					p Возможность анонимной работы во Всемирной паутине
				.proxi-prorerties-item
					img(src=require("../../img/lock.png"))
					p Исключение возможности быть заблокированным при входе на любой веб-узел
				.proxi-prorerties-item
					img(src=require("../../img/compass.png"))
					p Обеспечение высокой скорости соединения с иностранными веб-ресурсами
				.proxi-prorerties-item
					img(src=require("../../img/key.png"))
					p Анонимность при регистрациях
				.proxi-prorerties-item
					img(src=require("../../img/shield.png"))
					p Предоставление защиты ПК
	section.feedback
		.container
			.title-wrap
				p.title__h2 ОТЗЫВ
					span  О НАС
			.feedback-carousel.owl-carousel
				.feedback-carousel-item
					.feedback-description
						.img-wrap
							img(src=require("../../img/customer.jpg"))
						.customer-name
							h3 КАТЕРИНА ИВАНОВА
						.customer-feedback
							p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке,
						.feedback-source
							a Отзыв из
								span  источник
				.feedback-carousel-item
					.feedback-description
						.img-wrap
							img(src=require("../../img/customer.jpg"))
						.customer-name
							h3 КАТЕРИНА ИВАНОВА
						.customer-feedback
							p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
						.feedback-source
							a Отзыв из
								span  источник
				.feedback-carousel-item
					.feedback-description
						.img-wrap
							img(src=require("../../img/customer.jpg"))
						.customer-name
							h3 КАТЕРИНА ИВАНОВА
						.customer-feedback
							p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
						.feedback-source
							a Отзыв из
								span  источник
				.feedback-carousel-item
					.feedback-description
						.img-wrap
							img(src=require("../../img/customer.jpg"))
						.customer-name
							h3 КАТЕРИНА ИВАНОВА
						.customer-feedback
							p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
						.feedback-source
							a Отзыв из
								span  источник
				.feedback-carousel-item
					.feedback-description
						.img-wrap
							img(src=require("../../img/customer.jpg"))
						.customer-name
							h3 КАТЕРИНА ИВАНОВА
						.customer-feedback
							p Сайт рыбатекст поможет дизайнер верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
						.feedback-source
							a Отзыв из
								span  источник
			.all-feedbacks
				a(href='#') Все отзывы
	section.reliable-proxi
		.container
			.title-wrap
				h2 КАЧЕСТВЕННЫЕ ПРИВАТНЫЕ ПРОКСИ
			.reliable-proxi-description
				article
					p Комфортная работа в глобальной сети интернет невозможна без уверенности в вашей полной безопасности. Мы понимаем, насколько важно для вас иметь возможность оставаться анонимным в сети, получить доступ к зарубежным интернет-ресурсам, просматривать, загружать и скачивать контент без каких-либо ограничений. Именно поэтому с помощью нашего удобного онлайн-сервиса вы можете купить качественные приватные прокси по невероятно доступной цене.
					p Наши прокси работаю с любыми сайтами и программами, поддерживают протоколы HTTP / HTTPs, Socks4 / Socks5, возможна авторизация как по логин - паролю, так и по вашему ip адресу (если он статический). Покупая приват прокси на youproxy вы получаете быстрый, стабильный, анонимный интрумент для работы в интернете.
					p Прокси для приватной работы в интеренете вы можете купить на удобный для вас срок: неделю, месяц или более длительный срок – ваша работа во всемирной паутине будет стабильно быстрой, комфортной и безопасной. Стоит помнить, чем длинее срок аренды, тем дешевле прокси. Еще один способ получить дешевые прокси, это покупать пакетные прокси по 10, 20, 50, 100 штук. Использовать наши прокси вы можете любое количество времени: от недели до года и более. При этом их качество будет оставаться неизменно высоким, а при аренде адресов оптом и на долгий срок мы с удовольствием предоставим ощутимые скидки.
					p Youproxy.ru предлагает вам купить высококачественные приватные прокси с отменными скоростными показателями и бесперебойностью работы. Наши специалисты круглые сутки предоставляют техническую поддержку. У нас можно приобрести действительно приватные прокси, используя которые можно быть спокойным за свою безопасность. Мы предоставляем лишь качественные приват прокси адреса, которые являются гарантией вашей автономности при пребывании в просторах интернета. Наши специалисты понимают, как важно для пользователей иметь надежные и в то же время недорогие прокси, поэтому мы предлагаем лишь инновационные разработки с широчайшим разбросом по виртуальным просторам.
					p В нашей компании вы можете приобрести прокси-серверы, способные решать любые задачи: начиная от входа в заблокированные онлайн-игры и заканчивая работой со сложными программами для интернет-маркетинга. Грамотные специалисты сервиса всегда готовы подобрать индивидуальные серверы для ваших целей и предоставить доступ к определенным сетям и подсетям, или же отфильтровать адреса в соответствии с вашими требованиями. Вам достаточно лишь предоставить список нежелательных или предпочтительных сетей.
			.title-wrap
				h2 ОСНОВНОЕ НАЗНАЧЕНИЕ ПРОКСИ-СЕРВЕРОВ:
			p.the-most-in-demand Наиболее востребованными и основными назначениями прокси-серверов являются решения следующих задач:
			ul
				each v in ['- продвижения аккаунтов в социальных сетях;','- парсинга поисковых систем;','- регистрации в многопользовательских онлайн-играх;','- серфинга;','- работы букмекерских контор;','- анонимизации доступа к различным ресурсам;','- обхода различных видов блокировки;','- защиты ПК от вирусов и взлома;','- ускорения соединения при работе с иностранными ресурсами.']
					li= v
			p При оформлении заказа на покупку прокси вам будет необходимо указать одну из перечисленных целей – это поможет нам предоставить вам максимально качественные прокси. Если вы не найдете в списке необходимого пункта или столкнетесь с какими-либо проблемами – обратитесь за помощью к онлайн-консультанту, и мы оперативно подберем оптимальное решение.












